<!DOCTYPE html>
<html>
    <head>
        <title>Add Movie</title>
        <script type="text/javascript" src="static/jquery-1.9.0.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
            .row{
                margin-top: 5px;
                margin-left: 0;
            }
            .col-md-12,.col-md-2{
                padding: 0;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color:black;">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">IMDb</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="/movies" style="color:white;">Movies List</a></li>
                <li class="active"><a href="/addmovie" style="color:black;background-color: white">Add Movie</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
                <h1>Add Movie:</h1>
            </div>
            <form action="/addmovietodb" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <label class="col-md-2">Movie Name:</label>
                    <input type="text" name="name" required class="col-md-2">
                </div>
                <div class="row">
                    <label class="col-md-2">Year of Release:</label>
                    <input class="col-md-2" type="number" name="yor" required>
                </div>
                <label class="col-md-12">Plot:</label>
                <textarea class = "col-md-12" name="plot" rows = "5" required></textarea>
                <label class = "col-md-12">Actors:</label>
                <div class="row">
                <select name="actors" multiple size="4" required id="actorlist" class = "col-md-2">
                    {% for i in actor %}
                        <option value="{{i[1]}}">{{i[0]}}</option>
                    {% endfor %}
                </select>
                </div>
                <p class="col-md-12">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
                <div class="row">
                    <div class="col-md-12">
                        <button id='ada' class="btn btn-primary" onclick="ac()">Add New Actor</button>
                    </div>
                </div>
                <hr>
                <div id="adac" style="display:none;">
                    <div class="row">
                        <label class="col-md-12">Add New Actor:</label>
                        <label class="col-md-2">Name:</label>
                        <input type="text" id="actorname" name="actorname" class="col-md-2">
                    </div>
                    <div class="row">
                        <label class="col-md-2">Sex:</label>
                        <select name="sex" id='sex' class="col-md-2">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-md-2">Date of Birth:</label>
                        <input type="date" id="dob" name="dob" class="col-md-2">
                    </div>
                    <div class="row">
                            <label class="col-md-2">Bio:</label>
                        <input type="text" id="bio" name="bio" class="col-md-2">
                    </div>
                    <div class="col-md-12">
                        <button id='mybutton' class="btn btn-primary">ADD</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label class="col-md-2">Producer:</label>
                    <select name="producers" required id = "prodlist" class="col-md-2">
                        {% for i in prod %}
                            <option value="{{i[1]}}">{{i[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <button id='adpp' class="btn btn-primary" onclick="ap()">Add New Producer</button>
                        </div>
                    </div>
                <div id="adp" style="display:none;">
                        <div class="row">
                            <label class="col-md-12">Add New Producer:</label>
                            <label class="col-md-2">Name:</label>
                            <input type="text" id="namep" name="namep" class="col-md-2">
                        </div>
                        <div class="row">
                            <label class="col-md-2">Sex:</label>
                            <select name="sexp" id='sexp' class="col-md-2">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-md-2">Date of Birth:</label>
                            <input type="date" id="dobp" name="dobp" class="col-md-2">
                        </div>
                        <div class="row">
                            <label class="col-md-2">Bio:</label>
                            <input type="text" id="biop" name="biop" class="col-md-2">
                        </div>
                        <div class="col-md-12">
                            <button id='prodmybutton' class="btn btn-primary">ADD</button>
                        </div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-2">Poster</label>
                    <input class="col-md-2" type="file" name="file" accept="image/*" required>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" style="margin-bottom:10px;">
            </form>
        </div>
        <script type="text/javascript">
            $(function(){
                $('#mybutton').click(function(){
                    $.ajax({
                    url: '/addActor',
                    data: $('#actorname,#sex,#dob,#bio').serialize(),
                    type: 'POST',
                    success: function(response){
                        $('#actorname').val("");$('#sex').val("");$('#dob').val("");$('#bio').val("");
                        console.log($.parseJSON(response));
                        acID = $.parseJSON(response).actorID
                        acname = $.parseJSON(response).actorName
                        $('#actorlist').append('<option value='+acID+'>'+acname+'</option>');
                        alert('Actor Added');
                    },
                    error: function(error){
                        console.log(error);
                    }
                    });
                });

                $('#prodmybutton').click(function(){
                    $.ajax({
                    url: '/addproducer',
                    data: $('#namep,#sexp,#dobp,#biop').serialize(),
                    type: 'POST',
                    success: function(response){
                        $('#namep').val("");$('#sexp').val("");$('#dobp').val("");$('#biop').val("");
                        console.log($.parseJSON(response));
                        pID = $.parseJSON(response).prodID
                        pname = $.parseJSON(response).prodName
                        $('#prodlist').append('<option value='+pID+'>'+pname+'</option>');
                        alert('Producer Added');
                    },
                    error: function(error){
                        console.log(error);
                    }
                    });
                });
            });
            function ac(){
                document.getElementById("ada").style.display = "none";
                document.getElementById("adac").style.display = "block";
            }
            function ap(){
                document.getElementById("adpp").style.display = "none";
                document.getElementById("adp").style.display = "block";
            }
        </script>
    </body>

</html>