<!DOCTYPE html>
<html>
    <head>
        <title>Add Movie</title>
    </head>
    <body>
        <form action="/addmovietodb" method="POST" enctype="multipart/form-data">
            <label>Name:</label>
            <input type="text" name="name" required>
            <label>Year of Release:</label>
            <input type="number" name="yor" required>
            <label>Plot:</label>
            <textarea name="plot" required></textarea>
            <br>
            <br>
            <label>Actors:</label>
            <select name="actors" multiple size="2" required>
                {% for i in actor %}
                    <option value="{{i[1]}}">{{i[0]}}</option>
                {% endfor %}
            </select>
            <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
            <label>Producer:</label>
            <select name="producers" required>
                {% for i in prod %}
                    <option value="{{i[1]}}">{{i[0]}}</option>
                {% endfor %}
            </select>
            <br>
            <label>Poster</label>
            <input type="file" name="file" accept="image/*" required>
            <br>
            <input type="submit">
        </form>
    </body>
</html>