<!DOCTYPE html>
<html>
    <head>
        <title>Movies</title>
        <script type="text/javascript" src="static/jquery-1.9.0.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            .row{
                margin-top: 5px;
                margin-left: 0;
            }
            .col-md-12,.col-md-2,.col-md-1,.col-md-10,.col-md-11{
                padding: 0;
            }
            .edit:hover{
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color:black;">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">IMDb</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="/movies" style="color:black;background-color: white">Movies List</a></li>
                <li><a href="/addmovie" style="color:white;">Add Movie</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% for i in prod %}
                <div class="row" id="{{i[4]}}">
                    <img src="/static/images/{{i[3]}}" class="col-md-3" style="max-height:300px;">
                    <div class="col-md-9">
                    <div class="row">
                        <label class="col-md-1"> Name: </label><p id="cname{{i[4]}}" class="col-md-10">{{i[0]}}</p><p class="edit col-md-1" id="name{{i[4]}}"><i class="material-icons">&#xe22b;</i></p><br>
                    </div>
                    <div class="row">
                        <label class="col-md-1">Year of Release: </label><p id="cyor{{i[4]}}" class="col-md-10">{{i[1]}}<p class="edit col-md-1" id="yor{{i[4]}}"><i class="material-icons">&#xe22b;</i></p><br>
                    </div>
                        <div class="row">
                        <label class="col-md-1">Plot: </label><p id="cbio{{i[4]}}" class="col-md-10">{{i[2]}}</p><p class="edit col-md-1" id="bio{{i[4]}}"><i class="material-icons">&#xe22b;</i></p>
                    </div>
                    <div class="row">
                        <label class="col-md-1">Actors: </label>
                        <div class="col-md-11">
                            {% for n in i[5] %}
                                {{n}} <br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-1">Producer: </label>
                        <p class="col-md-11">{{i[6][0]}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script type="text/javascript">
           
            $(function(){
                $('.edit').click(function() {
                      var pid = $(this).attr("id");
                      $('#'+pid).hide();
                      chan = pid.slice(0,-2);
                      mid =  pid.slice(-2,-1);
                      console.log("edit:"+chan,"; mov_id:"+mid);
                      if (chan == 'name'){
                        var v = 'c'+pid;
                        var vall = $('#'+v).text();
                        $('#'+v).replaceWith($('<input name="newn" class="inpp col-md-10" type="text" id='+v+'><input hidden name="newid" id="newid" type="text" value='+v+'><button onclick="tt()" id="mybutton">Save</button>'));
                        $('#'+v).val(vall);
                      }

                      if (chan == 'yor'){
                        var v = 'c'+pid;
                        var vall = $('#'+v).text();
                        $('#'+v).replaceWith($('<input name="newn" class="inpp col-md-10" type="text" id='+v+'><input hidden name="newid" id="newid" type="text" value='+v+'><button onclick="tt()" id="mybutton">Save</button>'));
                        $('#'+v).val(vall);
                      }

                      if (chan == 'bio'){
                        var v = 'c'+pid;
                        var vall = $('#'+v).text();
                        console.log(vall);
                        $('#'+v).replaceWith($('<input name="newn" class="inpp col-md-10" type="text" id='+v+'><input hidden name="newid" id="newid" type="text" value='+v+'><button onclick="tt()" id="mybutton">Save</button>'));
                        $('#'+v).val(vall);
                      }
                });
                
        });

            function tt(){
                    console.log('ss');   
                    var newval = document.getElementsByName("newn")[0].value;
                    var newid = document.getElementsByName("newid")[0].value;
                    console.log(newval,newid);
                     $.ajax({
                          url: '/updatemovie',
                          data: $('.inpp,#newid').serialize(),
                          type: 'POST',
                          success: function(response){
                            window.location.href = "/movies";
                          },
                          error: function(error){
                            console.log(error);
                          }
                   });
            }
            
        </script>
    </body>
</html>